@page "/companies"
@attribute [Authorize]
@layout MainLayout
@inherits CompaniesComponent;

@using LabPro.Web.Models

<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Kompanije">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@AddClick">
        </RadzenButton>
        <RadzenGrid @ref="dgData" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getCompaniesResult" TItem="Company" RowSelect="@GridRowSelect">
          <Columns>
            <RadzenGridColumn TItem="Company" Property="Id" Title="Company ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Company" Property="Name" Title="Company Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Company" Property="Contact" Title="Contact">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Company" Property="City" Title="City">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Company" Property="Address" Title="Address">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Company" Property="Phone" Title="Phone">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Company" Property="Email" Title="Email">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Company" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="comapny">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, comapny))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
