@inherits DeleteDialogComponent;


<div>
    <p class="mb-4"><b>@Msg</b>?</p>
    <div class="row">
        <div class="col">
            <RadzenButton Text="Ok" Click="@OkClick" Class="mr-1" Style="width: 80px;" />
            <RadzenButton Text="Cancel" Click="@CancelClick" ButtonStyle="ButtonStyle.Secondary" Class="mr-1" />                    
        </div>
    </div>
</div>

